.ui.fluid.image, .ui.fluid.image img, .ui.fluid.image svg, .ui.fluid.images, .ui.fluid.images img, .ui.fluid.images svg {
  heght:70vh !important;
}

.testing {
  text-align:center !important;
  padding:50px !important;
}


.avatar {
  width: 20%;
border-radius: 50%;
}
